
:root{
      --general-direction: center;
      --shadow-size: 4px;
      --border-size: 10px;
      --border-radius-size: 25px;
}


header{
      display: flex;
      justify-content: var(--general-direction);
      flex-direction: column;
      align-items: var(--general-direction);  
}

.tipografias{
      display: flex;
      justify-content: var(--general-direction);
      flex-direction: column;
      align-items: var(--general-direction);
      border: solid var(--border-size) black;
      border-radius: var(--border-radius-size);
}

.tipografias__verdana{
      font-family: Verdana;
      font-size: xx-large;
      text-shadow: var(--shadow-size) var(--shadow-size) 2px rgb(43, 43, 43);  
}

.tipografias__st{
      font-family: Tahoma, Geneva, sans-serif;
      font-size: x-large;
      font-style: italic;
      color: saddlebrown;
}


.tipografias__variant{
      font-family: Tahoma, Geneva, sans-serif;
      font-variant: small-caps;

}

.tipografias__weight{
      font-family: Tahoma, Geneva, sans-serif;
      font-weight: bolder;
      font-size-adjust: .50; 
}