:root{
    --pdf-icon: url('https://upload.wikimedia.org/wikipedia/commons/thumb/8/87/PDF_file_icon.svg/1200px-PDF_file_icon.svg.png');
    --zip-icon: url('https://www.flaticon.com/svg/static/icons/svg/28/28814.svg');
}


main{
    box-sizing: border-box;
    width: 30%;
    border: solid black 2px;
    padding: 2px;
}


a {
text-decoration: none;
}


/*  para aplicar un estilo a un elemento cuyo
    atributo termine exactamente con dicho valor.  
*/

a[href$=".pdf"] {
    content: "";
    font-style: italic;
    background-image: var(--pdf-icon);
    background-size: 20px 20px;
}
a[href$=".zip"] {
    content: "";
    font-weight: bold;
    background-image: var(--zip-icon);
    background-size: 20px 20px;
    
}