
:root{
    --padding--article:20px;
    --style--border:2px;
    --text--decoration:none;
    --general-height:25px;
    --pdf-icon: url('../img/pdf.png');
    --zip-icon: url('../img/zip.png');
}



.reclamaciones {
    padding: var(--padding--article);
    border: var(--style--border) solid black;
    width: 30%;
    margin: var(--padding--article);
}

.reclamaciones a {
    display: block;
    text-decoration: var(--text--decoration);
}

.reclamaciones a:visited {
    color: blue;
}

.reclamaciones__pdf:after {
    margin-left: 5px;
    background-image: var(--pdf-icon);
    display: inline-block;
    background-size: 40px var(--general-height);
    width: 40px; 
    height: var(--general-height);
    content:"";
}

.reclamaciones__zip:after {
    margin-left: 5px;
    background-image: var(--zip-icon);
    display: inline-block;
    background-size: 30px var(--general-height);
    width: 30px; 
    height: var(--general-height);
    content:"";
}