* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  background-color: #ccc;
  padding: 10px;
  display: flex;
  flex-direction: row;
}
.item {
  background-color:tomato ;
  padding: 40px;
  margin: 40px;
  font-size: 35px;
  color: #fff;

}


.item2 {
  order: 5;
}
.item3 {
  order: 4
}

.item4 {
  order: -2;
  padding-right: 250px;
  flex-direction: row;
}


