
.container {
    display: grid;
    grid-template-areas: 
    'header header header  header '
     'nav main main aside'
     'footer footer  footer footer ';
     grid-gap: 5px;
     grid-template-rows: 1fr 100% 1fr;
     grid-template-columns: 1fr 5fr 1fr;
     
}

body {
	background-color: chocolate;
}


header {
	grid-area: header;
    display: flex;
    align-items: center;
    justify-content: center;
	background-color: skyblue;
}

header img {
    width: 100px;
    height: 100px;
}

header h4 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

main {
    background-color: peru;
    grid-area: main;

}

nav a {
    display: block;
	margin-bottom: 10px;
}

nav {
	background-color: slategrey;
    grid-area: nav;

}


aside {
    background-color: slategrey;
    grid-area: aside;
}

footer {
    grid-area: footer;
    background-color: skyblue;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	font-weight: bold;
}


@media (max-width: 760px) {
	body {
		background-color: white;
	}

	.container {
		display: grid;
		grid-template-columns: 1fr 1fr;
	  	grid-template-rows: 80px 50px 500px 50px 50px;
	  	grid-gap: 10px;
	  	grid-template-areas: 
	    "header header"
	    "nav nav"
	    "main main"
	    "aside aside"
	    "footer footer";
	}

	header {
		text-align: left;
	}

	img {
		display: none;
	}

	nav a {
		display: inline;
	}

	nav {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
	}

	nav a:hover {
		background-color: chartreuse;
	}

	aside {
		display: flex;
		align-items: center;
	}

	footer {
		font-weight: bolder;
	}
}