

/*------------------------------------*\
  #VARIABLES
\*------------------------------------*/

:root{
  --image-mask: url('./img/homer-simpson.svg');
  --general-size:100%;
}


/*------------------------------------*\
  #SECTION
\*------------------------------------*/

section {
  display: flex;
  justify-content: center;
  margin-top: 55px;
  flex-direction: row;
}

article{
  display: inline-block;
  margin: 30px;
  max-width: var(--general-size);
}

.mascara-0 {
  height: var(--general-size);
  width: var(--general-size);
  -webkit-mask-image:var(--image-mask);
  mask-image:var(--image-mask);
}

.mascara-1 {
  width: var(--general-size);
  object-fit: cover;
  -webkit-mask-image:var(--image-mask);
  -webkit-mask-size:20px 20px;
  -webkit-mask-position: 0 0, 0 10px, 10px -10px, -10px 0px;
  mask-image:var(--image-mask);
}

.mascara-2 {
  padding: 10px;
  -webkit-mask-image: var(--image-mask),var(--image-mask);
  -webkit-mask-composite: xor, source-over;
}

.mascara-3 {
  height: var(--general-size);
  width: var(--general-size);
  -webkit-mask-image:var(--image-mask);
  -webkit-mask:var(--image-mask) bottom / 75% repeat repeat;
}

.mascara-4 {
  height: var(--general-size);
  width: var(--general-size);
  -webkit-mask-image:var(--image-mask);
  -webkit-mask:var(--image-mask) top / 180px no-repeat, 
  var(--image-mask) bottom / 250px no-repeat;
}