.all_boxes{

    display: inline-flex;
    flex-wrap: wrap;
    
}
.box{
    display: flex;
    border: 3px solid black;
    color: white;
    margin: 20px;
    text-align: center;
    background-color: orangered;
    width: 200px;
    height: 200px;
    padding: 5px;
    display: flex;
    justify-content: center;
    text-align: center;
}